.editor-styles-wrapper .easy-search ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.edit-post-visual-editor .easy-search .easy-search-input {
	max-width: 100%;
    border-radius: 5px;
    padding: 10px 15px;
}

.edit-post-visual-editor .easy-search-result li > a:before,
.edit-post-visual-editor .easy-search-close:before,
.edit-post-visual-editor .easy-search-spinner:before {
	vertical-align: middle;
}

.edit-post-visual-editor .easy-search-close,
.edit-post-visual-editor .easy-search-spinner {
    top: 0;
}